<!DOCTYPE html>
<html>
<title>QuarkX</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source Serif Pro">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/QuarkStylesDesktop.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="/QuarksLargePh.css">
<link rel="stylesheet" href="/ChaptersStyles.css">

 <meta property="og:url"           content="angshumankashyap.in/QuarkX" />
 <meta property="og:type"          content="website" />
 <meta property="og:title"         content="Join Quarks" />
 <meta property="og:description"   content="Refuel Your Curiosity" />
 <meta property="og:image"         content="images/homeAmoeba.jpg" />
<link rel="stylesheet" href="/w3styles.css">
<link rel="stylesheet" href="/AngzPhStyles.css">

<link rel="icon" href="/QuarkOtherImages/QuarksLogoFinal-1.png">

<script src="slickJS/slick.js" type="text/javascript"></script>
<link rel="stylesheet" href= "/slickCss/slick.css">
<link rel="stylesheet" href= "/slickCss/slick-theme.css">

<link rel="stylesheet" href= "/AngzDesktopStyles.css">

<!-- NAV BAR  -->
<link rel="stylesheet" href="/nav.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"> </script>

<script src="https://www.w3schools.com/lib/w3.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<!--     ===================================================================
                              Hemburgar Menu
    ===================================================================
 -->

    <script>
      function openSlideMenu(){
        document.getElementById('side-menu').style.width = '300px';
        document.getElementById('main').style.marginLeft = '300px';
        document.getElementById('wholebody').style = '1';
      }
  
      function closeSlideMenu(){
        document.getElementById('side-menu').style.width = '0';
        document.getElementsByClassName('w3-row').style.opacity = '1';
      }
    </script>


<body onload="move()" class="w3-white" style="width:100vw;">


<section  id="top-navbar">  
    <div id="side-menu" class="side-nav">
      <a href="#" class="btn-close" onclick="closeSlideMenu()">&times;</a>
      <a href="#" id="userImg"> <img id="userImage" src="https://cdn.pixabay.com/photo/2016/06/14/09/33/bulldog-1456110_960_720.png"></a>
      <a href="#" id="userName"><%=userName%></a>
      <a href="MyCourses">My Courses</a>
      <a href="../QuarkXAcademy">QuarkX Academy</a>
      <a href="../QuarkX">QuarkX Home</a>
    </div>
 </section>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white" id="myNavbar" style="box-shadow: 3px 3px 3px #A8A8A8 ; width:100vw; max-width:100vw; min-width:100vw;">
    <a id="iconNav" class="w3-bar-item w3-button w3-hover-black w3-left" href="javascript:void(0);" onclick="openSlideMenu()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <div style="cursor: pointer;" class="w3-bar-item"> <img id="QuarksLogo" src="/QuarkOtherImages/QuarksLogoFinal-1.png"> </div> 
    <div style="cursor: pointer;" class="w3-bar-item"><span id="nameQuarks"> QuarkX </div>
  <!-- Navbar on small screens -->
</div>
</div>


<!-- <section id="allDivisions"> -->
<!--
  <form action="/QuarkXAcademy/ConceptPerformance" method="POST">
    <input type="text" id="concept" placeholder="concept" name="Concept">
    <input type="text" id="Chapter" placeholder="Chapter" name="Chapter">
    <input type="text" id="Class" placeholder="Class" name="Class">
    <input type="text" id="Course" placeholder="Course" name="Course">

    <button type="submit"  class="w3-blue btn btn-default">Submit</button>
  </form>
-->

  <form class="w3-hide" id="chaptersForm" action="/QuarkXAcademy/ShowConcepts" method="POST">
    <input type="text" id="Chapter" placeholder="Chapter" name="ChapterId">
    <input type="text" id="Class" placeholder="Class" name="ClassId" value=<%=ClassId%>>
    <input type="text" id="Course" placeholder="Course" name="CourseId" value=<%=CourseId%>>
    <input type="text" id="ChapNum" placeholder="ChapNum" name="ChapNum">>

    <button type="submit"  class="w3-blue btn btn-default">Submit</button>
  </form>

    <div class="w3-card" id="whiteStrip">Welcome to class</div>
    <div class="w3-center glow" id="SubjectName"><%=CourseId%> </div>


    <div id="chapterConceptCard">
      <!-- <div id="Chapters">Averages</div> -->
      
      <ul id="conceptBlocks"> 

        <% var i=0; %>
        <% for(Concept of Concepts){%>
          <li id ="ConceptLists" class="w3-card">
            <img id="conceptImage" src=<%=Concept.CHAPTER_IMG%>>
            <div id="conceptName"><%= i+1 %><span>. </span><%=Concept.CHAPTER_ID%><span class="w3-hide">,</span></div>
            <div id="myProgress">
               <div class="accuracyBar" id="myBar"><div id= "accuracyText">
                 <span style="visibility:hidden">,</span>Completed% </div></div> 
            </div>
          </li>
          <% i++; %>
          <%}%>
        </ul>

    </div>


    <ul class="w3-hide" id="percentList" style="display: inline-block;">
      <% var i=0; %>
      <% for(percent of SolvedPercent){%>
        <li id="solvedPercentBlock">
          <div id="solvedPercent"><%=percent%><span>,</span></div>
        </li>
        <% i++; %>
        <%}%>
    </ul>

    <div id="whiteStrip">
      <h1>QuarkX Classes are very exciting and the amount of questions here are uncountable</h1>
      <h1>the fees is also very less</h1>
      <h1>Get access to unlimited questions, test series and summary of chapters</h1>
      <h1>This is going to be amazing with a premium subscription</h1>

  </div>

  <form class="w3-hide">
    <input type="text" id="totalConcepts" value=<%=TotalConcepts%>>
  </form>
</body>

<!-- </section> -->

<script>
  let lis = document.getElementById('conceptBlocks').getElementsByTagName('li#conceptName');
  console.log(lis);
</script>

<script>
  const ul = document.querySelectorAll('ul');
  var ConceptString = "";
  for (let i = 0; i <= ul.length - 1; i++) {
    var conceptName = document.getElementById("conceptName").value;  
      console.log(ul[i]);
      ConceptString = ul[i];
      ConceptString = $("#conceptBlocks li #conceptName").text();
    }
    //  ConceptString = ConceptString.replace(/(\r\n|\n|\r|  |Completed%)/gm,"");
      var n = ConceptString.length;
      ConceptString = ConceptString.substr(0,n-1);  
      console.log("Length of a string is:", n);
      var res = ConceptString.split(",");
      console.log(res);
      console.log(typeof(res));
      console.log("Concept is", ConceptString);
    
      $("#conceptBlocks li").click(function() {
        var index = $(this).index();
        let chapterNumber = null;

        let chapterName = null;
       //alert("Index " + index + " was clicked");
      
       if(index<9) {
          chapterName = res[index];
          chapterName = chapterName.substr(3,chapterName.length);
          res[index] = chapterName;
       }
       else if (index>=9) {
        chapterName = res[index];
          chapterName = chapterName.substr(4,chapterName.length);
          res[index] = chapterName;
       }       
          //Above three lines were imp to remove the dots after chapter name
          document.getElementById("Chapter").value = res[index];
          document.getElementById("ChapNum").value = index+1;
        $("#chaptersForm").submit();
    });

</script>


<script>
//var i = 0;
var i = [0,0,0];

function move() {
  
  var TotalConcepts = document.getElementById("totalConcepts").value;  
  console.log("Total Concepts", TotalConcepts);

  var SolvedPercent = "";
  const ul = document.querySelectorAll('ul');

  for (let i = 0; i <= ul.length - 1; i++) {
    SolvedPercent = $("#percentList").text();
    SolvedPercent = SolvedPercent.replace(/(\r\n|\n|\r| )/gm,"");
  }
  var res = SolvedPercent.split(",");
  console.log(res);
  var completedPercent = [];
  for(let i=0;i<res.length-1;i++) {
    completedPercent[i] = parseInt(res[i]); 
  }
  console.log("completedPercent", completedPercent);
  //Till here Concent Completed Percentage is found 

  var elem = document.getElementsByClassName("accuracyBar");

  for (var k=0; k<TotalConcepts;k++) {  
    /*if (i[k] == 0) {
        i[k] = 1;
        widthAcc[k] = 1;*/
        //var id = setInterval(frame, 10);
       // function frame() {
            /*if (widthAcc[k] >= accuracy[k]) {
                clearInterval(id);
                i[k] = 0;
              } else {    
                  widthAcc[k]++;
                  elem[k].style.width = accuracy[k] + "%";
              }*/
              elem[k].style.width = completedPercent[k] + "%";
         }
      }
  //}
//}
</script>


</html>