<!DOCTYPE html>
<html>
<title>Imagine Wizards</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source Serif Pro">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/QuarkStylesDesktop.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="/QuarksLargePh.css">
<link rel="stylesheet" href="/Wishlist.css">

 <meta property="og:url"           content="angshumankashyap.in/QuarkX" />
 <meta property="og:type"          content="website" />
 <meta property="og:title"         content="Get customized Nike shoes in Imagine Wizards"/>
 <meta property="og:description"   content="Craft magic with art" />
 <meta property="og:image"         content="ImagineWizardPhotos/logo2.png" />
<link rel="stylesheet" href="/w3styles.css">
<link rel="stylesheet" href="/AngzPhStyles.css">

<!-- <link rel="icon" href="/ImagineWizardPhotos/logo2.png"> -->

<script src="slickJS/slick.js" type="text/javascript"></script>
<link rel="stylesheet" href= "/slickCss/slick.css">
<link rel="stylesheet" href= "/slickCss/slick-theme.css">

<link rel="stylesheet" href= "/AngzDesktopStyles.css">

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!-- NAV BAR  -->
<link rel="stylesheet" href="/nav.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"> </script>

<script src="https://www.w3schools.com/lib/w3.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">


<!-- NEWLY ADDED Google FONT -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Concert+One&family=Lora:ital,wght@1,400;1,600;1,700&display=swap" rel="stylesheet">

<style>

      .productImages{
          width: 65vw;
      }
        
      .productCards{
        width: 28vw;
        height:28vw;
        margin-top: 0.5vw;
        margin-right: 0.5vw;
      }

      #prodDetailsDiv{
        width:32.5vw;
      }

      #productName{
          font-size: 1.5vw;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          margin-top: 1vw;
      }

      #brandText{
        font-size: 1vw;
        margin-top:0.5vw
      }

      #ThisProductPrice{
        font-size: 1.5vw;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 1vw;
      }

      #selectSizeText{
        font-size: 1.1vw;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 1.5vw;
      }

      .shoeSize{
          border-radius: 50vw;
          text-align: center;
          margin-left: 0.25vw;
          margin-bottom: 0.25vw;
          background-color: white;
          border: 2px solid #bbb;
          font-size: 0.9vw;
          width: 3.5vw;
          margin-top: 0.5vw;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }

      .shoeSize:hover{
          border-radius: 100vw;
          text-align: center;
          margin-left: 0.25vw;
          margin-bottom: 0.25vw;
          background-color: white;
          border: 2px solid #bbb;
          font-size: 0.9vw;
          width: 3.5vw;
          padding-top: -0.5vw;
      }

        #sizesDiv{
            margin-left: -3.25vw;
        }

      #QuantityTxt{
        font-size: 1.1vw;
      }

      #quantityBtn{
        margin-top: -2vw;
        font-size: 1.1vw;
        margin-left: 1vw;
        background-color: white;
      }
    
      #quantityBtn:focus {
         outline: none;
         box-shadow: none;
      }

</style>


         <!-- Navbar (sit on top) -->
<body style="width:100vw; min-width: 100vw; max-width: 100vw; overflow-x: hidden; background-color: white;">

  <div class="w3-top">
  <div class="w3-bar w3-white" id="myNavbar" style="box-shadow: 3px 3px 3px #A8A8A8 ; width:100vw; max-width:100vw; min-width:100vw; height: 7vw">
    
    <div style="cursor: pointer;" class="w3-bar-item"> <img id="QuarksLogo" src="/ImagineWizardPhotos/logo2.png"> </div> 
    <div class="w3-bar-item FiltersText"><span id="Filters1">Men</span><span id="Filters2">Women</span><span id="Filters3">Kids</span></div>

    <div id="wishlistContainer" style="cursor: pointer;"><div style="color:red" id="wishlistBarIcon">♡</div>
    <div id="wishlistCount">
        <div id="wishlistItemCount"><%=wishlistItemCount%></div>
     </div>
    <div id="wishlistBarText">Wishlist</div></div>     
 
 
  <div id="CartContainer" style="cursor: pointer;" onclick="ViewCart()"><svg id="cartBarIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M41.3 14.58a5 5 0 0 0-5-4.58H34a10 10 0 0 0-20 0h-2.32a5 5 0 0 0-5 4.58l-2.36 28a5 5 0 0 0 5 5.39h29.35a5 5 0 0 0 5-5.4ZM24 2a8 8 0 0 1 8 8H16a8 8 0 0 1 8-8Zm14.67 44H9.33a3 3 0 0 1-3-3.23l2.35-28a3 3 0 0 1 3-2.75H14v6h-1a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2h-1V12h16v6h-1a1 1 0 0 0 0 2h4a1 1 0 0 0 0-2h-1v-6h2.32a3 3 0 0 1 3 2.75l2.35 28a3 3 0 0 1-3 3.25Z" data-name="Shopping Bag"/></svg>
    <div id="cartCount">
      <div id="cartItemCount"><%=cartItemCount%></div>
    </div>
    <div id="cartBarText">Cart</div></div>

    <div class="btn" id="WishlistMsgRemProdInfo">Product removed from your wishlist</div>

    <div class="btn" id="prodAddedMsg">Product added to your cart successfully</div>

    <a style="cursor: pointer;" href="../signup" ><div style="cursor: pointer;" class="w3-bar-item w3-hide-small" id="loginBtn">Log In</div></a>
    <a href="../signup" style="cursor: pointer;"><div style="cursor: pointer;" class="w3-bar-item w3-hide-small" id="signUpBtn">Sign Up</div></a>
  
  <!-- Navbar on small screens -->
</div>
</div>
  

  <div id="wishlistProdsDiv">
    <ul id="wishlistCardsList" style="list-style-type:none;">
      <% var i=0; %>
      <% for(products of cartProductsDisplay){%>
        <li id="EachWishlistProd" class="eachWishlistItem">
          <img id="crossIconWishlist" onclick="RemoveWishlistProd('<%=products.WishlistToProductJoin.PROD_ID%>', '<%=itemPos[i]%>')" src="/ImagineWizardPhotos/cross-icon-wishlist.png">
          <img onclick="ViewProdBtn('<%=products.WishlistToProductJoin.PROD_ID%>')" class="wishlistProductImg"src=<%=products.WishlistToProductJoin.PROD_IMG1%>>
          <div id="wishlistTitleContainer">
            <div onclick="ViewProdBtn('<%=products.WishlistToProductJoin.PROD_ID%>')" id="wishlistProdTitle"><%=products.WishlistToProductJoin.PROD_TITLE%><span class="w3-hide">,</span></div>
          </div>
          <hr id="lineBelowTitle">
          <div id="pricesDiv">
            <span id="sellingPrice">AED <%=products.WishlistToProductJoin.PRICE%></span>
            <span id="originalPrice">AED <%=products.WishlistToProductJoin.ORIGINAL_PRICE%></span>
            <span id="discountPercent"><%=discount[i]%>% off</span>
          </div>          
          <div class="btn" onclick="AddToCartNew('<%=products.WishlistToProductJoin.PROD_ID%>', '<%=products.WishlistToProductJoin.PROD_IMG1%>', '<%=products.WishlistToProductJoin.PROD_TITLE%>', '<%=products.WishlistToProductJoin.PRICE%>', '<%=products.WishlistToProductJoin.ORIGINAL_PRICE%>', '<%=discount[i]%>')" id="MoveToCartBtn">MOVE TO CART</div>
        </li>
        <% i++; %>
        <%}%>
    </ul>
  </div>


<div id="addToCartModal" class="w3-modal">
  <div id="addToCartContainer" class="w3-modal-content">
    <div class="w3-container">
      <span id="modalCrossBtn" onclick="document.getElementById('addToCartModal').style.display='none'">&times;</span>
      <img onclick="ViewProdBtn('<%=products.WishlistToProductJoin.PROD_ID%>')" id="cartProdImg">
      <div onclick="ViewProdBtn('<%=products.WishlistToProductJoin.PROD_ID%>')" id="addCartProdTitle"></div>
      <div id="AddCartPricesDiv">
        <span id="AddCartSellingPrice"></span>
        <span id="AddCartOriginalPrice"></span>
        <span id="AddCartDiscountPercent"></span>
      </div>
      <hr id="addCartLine">
      <div id="selectSizeTxt">Please select a size.</div>

      <ul id="sizesDiv" style="list-style-type:none; display: flex; flex-wrap: wrap;">
        <li id="size1" class="w3-button w3-hover-white shoeSize">XXS</li>
        <li id="size2" class="w3-button w3-hover-white shoeSize">XS</li>
        <li id="size3" class="w3-button w3-hover-white shoeSize">S</li>
        <li id="size4" class="w3-button w3-hover-white shoeSize">M</li>
        <li id="size5" class="w3-button w3-hover-white shoeSize">L</li>
        <li id="size6" class="w3-button w3-hover-white shoeSize">XL</li>
        <li id="size7" class="w3-button w3-hover-white shoeSize">XXL</li>
      </ul>

      <input type="text" class="w3-hide" required="true" id="selectedSize" placeholder="selectedSize">
      <button id="addCartBtn">Add To Cart</button>

    </div>

      </div>
    </div>
  </div>


<div style="display:none;" id="emptyWishlistDiv">
  <img id="emptyWishlistImg" src="/ImagineWizardPhotos/emptyWishlist.png">
  <div id="emptyWishlistTex">Make a wish to the wizard before he disappears. </div>
  <div id="emptyWTxt1">Your wishlist is currently looking for love.</div>
  <input class="w3-hide" type="text" id="totalWishlistedCount" value=<%=wishlistItemCount%>>
  <a href="http://localhost:8001"><button id="continueShoppingBtn" class="btn"> CONTINUE SHOPPING </button></a>
</div>


  <form class="w3-hide" id="UpdateCartSizeForm" action="/QuarkXAcademy/UpdateCartProdSize" method="POST">
    <input type="text"id="updateProdId" name="selectedProdId" placeholder="updateProdId">
    <input type="text"id="NewSize" name="selectedSize" placeholder="NewSize">
    <input type="text"id="oldSize" name="oldSize" placeholder="oldSize">
    <input type="text"id="thisQuantity" name="selectedQuantity" placeholder="thisQuantity">

    <button type="submit" class="w3-blue btn btn-default">Submit</button>
  </form>


  <form class="w3-hide" id="UpdateCartQtyForm" action="/QuarkXAcademy/UpdateCartProdQty" method="POST">
    <input type="text"id="thisProdId" name="selectedProdId" placeholder="selectedProdId">
    <input type="text"id="thisProdSize" name="selectedSize" placeholder="selectedSize">
    <input type="text"id="NewProdQty" name="selectedQuantity" placeholder="NewProdQty">
    <input type="text"id="OldProdQty" name="OldProdQty" placeholder="OldProdQty">
    
    <button type="submit" class="w3-blue btn btn-default">Submit</button>
  </form>

  <form class="w3-hide" id="RemoveCartProdForm" action="/QuarkXAcademy/RemoveCartProd" method="POST">
    <input type="text"id="RemoveProdId" name="selectedProdId" placeholder="RemoveProdId">
    <input type="text"id="RemoveProdSize" name="selectedSize" placeholder="RemoveProdSize">
    <input type="text"id="RemoveProdQty" name="selectedQuantity" placeholder="RemoveProdQty">
  
    <button type="submit" class="w3-blue btn btn-default">Submit</button>
  </form>

  <form class="w3-hide" id="ViewProductForm" action="/QuarkXAcademy/ProductInfo" method="POST">
    <input type="text"id="productIdView" name="productId" placeholder="productIdView">
    <input type="text"id="prodTitleView" name="productTitle" placeholder="prodTitleView">
    <input type="text"id="prodDescView" name="productDesc" placeholder="prodDescView">
    <input type="text"id="prodThemeView" name="productTheme" placeholder="prodThemeView">
    <input type="text"id="prodPriceView" name="productPrice" placeholder="prodPriceView">

    <button type="submit" class="w3-blue btn btn-default">Submit</button>
  </form>

        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157972185-1">
        </script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'UA-157972185-1');
        </script>
        
        <script>
            AOS.init();
          </script>
    

    <script>
      function ViewProdBtn(productIdView) {
    
              var userToken = localStorage.getItem("Token");
              if(userToken){
                userToken1=userToken;
              }
              else{
                userToken1=Date.now();
                localStorage.setItem("Token",userToken1);
              }
    
                document.getElementById('productIdView').value = productIdView;
                hrefStr = "http://localhost:8001/QuarkXAcademy/ProductInfo" + "/" + productIdView + "/" + userToken1;
                location.href = hrefStr;
              }
    </script>


    <script>
      var clickedFlag = 0;
      document.getElementById("addCartBtn").disabled = true;
      
      $("#sizesDiv li").click(function () {
        clickedFlag = 1;
        document.getElementById("addCartBtn").disabled = false;
        document.getElementById("addCartBtn").style.cursor = "pointer"
        document.getElementById("addCartBtn").style.background = "blueviolet"

        // $("#ErrMsg").css("display", "none");
        var index = $(this).index();
        if (index == 0) {
          $("#size1").css("border-color", "green")
          $("#size2").css("border-color", "#bbb")
          $("#size3").css("border-color", "#bbb")
          $("#size4").css("border-color", "#bbb")
          $("#size5").css("border-color", "#bbb")
          $("#size6").css("border-color", "#bbb")
          $("#size7").css("border-color", "#bbb")
          document.getElementById('selectedSize').value = 'XXS';
          // $("#ErrMsg").hide()
        }
        else if (index == 1) {
          $("#size1").css("border-color", "#bbb")
          $("#size2").css("border-color", "green")
          $("#size3").css("border-color", "#bbb")
          $("#size4").css("border-color", "#bbb")
          $("#size5").css("border-color", "#bbb")
          $("#size6").css("border-color", "#bbb")
          $("#size7").css("border-color", "#bbb")
          document.getElementById('selectedSize').value = 'XS';
          // $("#ErrMsg").hide()
        }
  
        else if (index == 2) {
          $("#size1").css("border-color", "#bbb")
          $("#size2").css("border-color", "#bbb")
          $("#size3").css("border-color", "green")
          $("#size4").css("border-color", "#bbb")
          $("#size5").css("border-color", "#bbb")
          $("#size6").css("border-color", "#bbb")
          $("#size7").css("border-color", "#bbb")
          document.getElementById('selectedSize').value = 'S';
          // $("#ErrMsg").hide()
        }
  
        else if (index == 3) {
          $("#size1").css("border-color", "#bbb")
          $("#size2").css("border-color", "#bbb")
          $("#size3").css("border-color", "#bbb")
          $("#size4").css("border-color", "green")
          $("#size5").css("border-color", "#bbb")
          $("#size6").css("border-color", "#bbb")
          $("#size7").css("border-color", "#bbb")
          document.getElementById('selectedSize').value = 'M';
          // $("#ErrMsg").hide()
        }
  
        else if (index == 4) {
          $("#size1").css("border-color", "#bbb")
          $("#size2").css("border-color", "#bbb")
          $("#size3").css("border-color", "#bbb")
          $("#size4").css("border-color", "#bbb")
          $("#size5").css("border-color", "green")
          $("#size6").css("border-color", "#bbb")
          $("#size7").css("border-color", "#bbb")
          document.getElementById('selectedSize').value = 'L';
          // $("#ErrMsg").hide()
        }
  
        else if (index == 5) {
          $("#size1").css("border-color", "#bbb")
          $("#size2").css("border-color", "#bbb")
          $("#size3").css("border-color", "#bbb")
          $("#size4").css("border-color", "#bbb")
          $("#size5").css("border-color", "#bbb")
          $("#size6").css("border-color", "green")
          $("#size7").css("border-color", "#bbb")
          document.getElementById('selectedSize').value = 'XL';
          // $("#ErrMsg").hide()
        }
  
        else if (index == 6) {
          $("#size1").css("border-color", "#bbb")
          $("#size2").css("border-color", "#bbb")
          $("#size3").css("border-color", "#bbb")
          $("#size4").css("border-color", "#bbb")
          $("#size5").css("border-color", "#bbb")
          $("#size6").css("border-color", "#bbb")
          $("#size7").css("border-color", "green")
          document.getElementById('selectedSize').value = 'XXL';
          // $("#ErrMsg").hide()
        }
      });
  
      // $("#AddCartBtn").click(function () {
      //   if (clickedFlag == 0) {
      //     $("#ErrMsg").show()
      //   }
      // });
    </script>

    
<script>
  function AddToCartNew(ProdId, cartProdImg, cartProdTitle, sellingPrice, originalPrice, discount) {

  var userToken = localStorage.getItem("Token");
  if(userToken){
    userToken1=userToken;
  }
  else{
    userToken1=Date.now();
    localStorage.setItem("Token",userToken1);
  }

  document.getElementById('addToCartModal').style.display='block'
  document.getElementById("cartProdImg").src = cartProdImg
  document.getElementById("addCartProdTitle").innerHTML = cartProdTitle

  document.getElementById("AddCartSellingPrice").innerHTML = "AED " + sellingPrice
  document.getElementById("AddCartOriginalPrice").innerHTML = "AED " + originalPrice
  document.getElementById("AddCartDiscountPercent").innerHTML = discount + "% off"

    $("#addCartBtn").click(function(){
      document.getElementById('addToCartModal').style.display='none';
      var url = 'http://localhost:8001/QuarkxAcademy/AddToCartNew';
      var params = {
      selectedProdId: ProdId,
      selectedSize: document.getElementById('selectedSize').value,
      selectedQuantity: 1,
      userToken: userToken1
      };

      var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function (res) {
            // console.log("checking response",xmlHttp.responseText);
            if (xmlHttp.readyState === 4) {
                res=JSON.parse(xmlHttp.responseText);

                // if (res.status == "NotLoggedIn"){ //comes from middleware
                //     localAddToCartCall(ProdId);
                // }

                if(res.status=="success"){
                  document.getElementById('prodAddedMsg').innerHTML = "Product added to your cart successfully"; 
                  $("#prodAddedMsg").hide();
                  $("#prodAddedMsg").hide();
                  $("#prodAddedMsg").show();
                  $("#prodAddedMsg").delay(4000).fadeOut();
                  document.getElementById('cartItemCount').innerHTML = res.itemCount;
                  $("#cartCount").show();     
                }
  
            }
        }
        xmlHttp.open("POST", url, true); // false for synchronous request
        xmlHttp.withCredentials = true;
        xmlHttp.setRequestHeader("Content-type", "application/json");
        xmlHttp.send(JSON.stringify(params));
      });
  }
</script>



  <script>
     function RemoveWishlistProd(prodId, prodPos){
        
        document.getElementsByClassName('eachWishlistItem')[prodPos].style.display = "none";
        $("#WishlistMsgRemProdInfo").show();
        $("#WishlistMsgRemProdInfo").delay(4000).fadeOut();

        var currentCount = parseInt(document.getElementById('wishlistItemCount').innerHTML)
        var newCount = currentCount - 1;

        if (newCount == 0){
          $("#wishlistCount").hide();
          $("#emptyWishlistDiv").show();
        }
        else 
          $("#wishlistCount").show();

        document.getElementById('wishlistItemCount').innerHTML = newCount;
        document.getElementById('totalWishlistedCount').value = newCount;
        
        
        var userToken = localStorage.getItem("Token");
        if(userToken){
          userToken1=userToken;
        }
        else{
          userToken1=Date.now();
          localStorage.setItem("Token",userToken1);
        }
        var url = 'http://localhost:8001/QuarkxAcademy/RemoveWishlistProd';
          var params = {
          selectedProdId:prodId,
          userToken: userToken1
          // index: document.getElementById('indexOfWishlist').value
            // selectedProdId: document.getElementById('prodIdWishlist').value,
            // heartList: resHeartId,
          };
          var xmlHttp = new XMLHttpRequest();
          xmlHttp.onreadystatechange = function (res) {
              if (xmlHttp.readyState === 4) {
                  res=JSON.parse(xmlHttp.responseText);
                  // console.log("Added to wishlist",res.message);
                  // document.getElementById('heartImage').innerHTML = res.status;
                  // console.log("Response index",res.index);
                  // if(res.status=="success") {
                  //   if (res.itemCount==0){
                  //     $("#wishlistCount").hide();
                  //     $("#emptyWishlistDiv").show();
                  //   }    
                  //   else 
                  //     $("#wishlistCount").show();
                  //   document.getElementById('wishlistItemCount').innerHTML = res.itemCount;
                  //   document.getElementById('totalWishlistedCount').value = res.itemCount;
                  // }
              
              }
          }
          xmlHttp.open("POST", url, true); // false for synchronous request
          // xmlHttp.withCredentials = true;
          xmlHttp.setRequestHeader("Content-type", "application/json");
          xmlHttp.send(JSON.stringify(params));
     }
  </script>


<script>
  if(document.getElementById('totalWishlistedCount').value == 0) {
    $("#emptyWishlistDiv").show();
  }
</script>



<script>
            var FromAddWishlist = document.getElementById('FromAddWishlist').value;

            if(FromAddWishlist=='yes'){ //call get page to not call AddToCart Post api upon reloading 
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "http://localhost:8001/QuarkxAcademy/UpdateWishlistProdSize", true);
                xhr.onload = (e) => {
                      if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            location.replace("http://localhost:8001/QuarkxAcademy/UpdateWishlistProdSize");
                        } else {
                          console.error(xhr.statusText);
                        }
                      }
                    };
                    xhr.onerror = (e) => {
                      console.error(xhr.statusText);
                    };
                    xhr.send(null);
              }

    function sizeChanged(OldSize, ProdSize, ProdId, ProdQty) {     

              document.getElementById('updateProdId').value=ProdId;
              document.getElementById('NewSize').value=ProdSize;
              document.getElementById('thisQuantity').value=ProdQty;
              document.getElementById('oldSize').value=OldSize;

              if(OldSize!=ProdSize) {
                  $("#UpdateCartSizeForm").submit(); 
              }
            //stop this trigger
    }
</script>

<script>

    function QtyChanged(ProdSize, ProdId, OldProdQty, NewProdQty) {

            document.getElementById('thisProdId').value=ProdId;
            document.getElementById('thisProdSize').value=ProdSize;
            document.getElementById('OldProdQty').value=OldProdQty;
            document.getElementById('NewProdQty').value=NewProdQty;

            //stop this trigger
            if(OldProdQty!=NewProdQty){
              $("#UpdateCartQtyForm").submit(); 
    }
}
</script>

<script>

  function removeCartProd(RemoveProdId, RemoveProdSize, RemoveProdQty) {

          document.getElementById('RemoveProdId').value=RemoveProdId;
          document.getElementById('RemoveProdSize').value=RemoveProdSize;
          document.getElementById('RemoveProdQty').value=RemoveProdQty;

          //stop this trigger
          $("#RemoveCartProdForm").submit(); 
}
</script>

<script>
  function ViewCart(){
    var userToken = localStorage.getItem("Token");
    if(userToken){
      userToken1=userToken;
    }
    else{
      userToken1=Date.now();
      localStorage.setItem("Token",userToken1);
    }
    hrefStr = "http://localhost:8001/QuarkXAcademy/ViewCart" + "/" + userToken1;
    location.href = hrefStr;
  }
</script>

<script>    //Refresh page on back/forward button
  window.addEventListener( "pageshow", function ( event ) {
   var historyTraversal = event.persisted || 
                          ( typeof window.performance != "undefined" && 
                               window.performance.navigation.type === 2 );
   if ( historyTraversal ) {
     // Handle page restore.
    //  document.location.reload(true);
     if(userToken){
      userToken1=userToken;
    }
    else{
      userToken1=Date.now();
      document.getElementById('cartItemCount') = "0";
      $("#cartCount").hide();
      document.getElementById('wishlistItemCount') = "0";
      $("#wishlistCount").hide();
      localStorage.setItem("Token",userToken1);
    }
    hrefStr = "http://localhost:8001/QuarkXAcademy/Wishlist" + "/" + userToken1; 
    location.href = hrefStr;
   }
 });
 </script>

<script>
  var userToken = localStorage.getItem("Token");
  if(userToken){
    userToken1=userToken;
  }
  else{
    userToken1=Date.now();
    document.getElementById('cartItemCount') = "0";
    $("#cartCount").hide();
    document.getElementById('wishlistItemCount') = "0";
    $("#wishlistCount").hide(); 
    localStorage.setItem("Token",userToken1);
  }

  var currentUrl = document.URL
  var urlToken = currentUrl.substring(currentUrl.length-13, currentUrl.length);

  if(urlToken!=userToken1){
    hrefStr = "http://localhost:8001/QuarkXAcademy/Wishlist" + "/" + userToken1;
    location.href = hrefStr;
  }

</script>


<script>
  if (document.getElementById('cartItemCount').innerHTML=="0")
     $("#cartCount").hide();
  else 
    $("#cartCount").show();


  if (document.getElementById('wishlistItemCount').innerHTML=="0")
     $("#wishlistCount").hide();
  else 
    $("#wishlistCount").show();
    

</script>

<script>
 $("#CartProductCardsList li #RemoveBtn").click(function() {
          var index = $("#CartProductCardsList li").index();
          $("this").hide();
        });
</script>

<script>
  function ViewProdBtn(productIdView) {

          var userToken = localStorage.getItem("Token");
          if(userToken){
            userToken1=userToken;
          }
          else{
            userToken1=Date.now();
            localStorage.setItem("Token",userToken1);
          }

            document.getElementById('productIdView').value = productIdView;
            hrefStr = "http://localhost:8001/QuarkXAcademy/ProductInfo" + "/" + productIdView + "/" + userToken1;
            location.href = hrefStr;
          }
</script>


<script>  
    $(document).ready(function() {
      
        var prodsPrice =  $("#CartProductCardsList li #prodPrice").text();
        var resPrice = prodsPrice.split(",");
        for (var k = 0; k<resPrice.length-1;k++) {
          resPrice[k] = parseInt(resPrice[k])
        }

        console.log(resPrice);

        var prodsQty =  $("#CartProductCardsList li #QtyBtn").text();
        var resQty= prodsQty.split(" ");
        console.log(resQty);

        var k = 0;
        var totalAmount = 0;
        for (var i = 1; i < resQty.length-1; i=i+2) {
            totalAmount = totalAmount + resPrice[k]* parseInt(resQty[i]);
            k++;
          }
        
          console.log(totalAmount);


        $("#ProductCardsDiv li").click(function() {
          
          var index = $(this).index();
       
          for (var i = 0; i < res1.length; i++) {
            var prodIdNew = res1[index];
          }

          for (var i = 0; i < res6.length; i++) {
            var prodTitleNew = res6[index];
          }

          for (var i = 0; i < res7.length; i++) {
            var prodDescNew = res7[index];
          }

          for (var i = 0; i < res8.length; i++) {
            var prodThemeNew = res8[index];
          }
          
          for (var i = 0; i < res9.length; i++) {
            var prodPriceNew = res9[index];
          }
          
          document.getElementById('productId').value = prodIdNew;
          document.getElementById('productTitle').value = prodTitleNew;
          document.getElementById('productDesc').value = prodDescNew;
          document.getElementById('productTheme').value = prodThemeNew;
          document.getElementById('productPrice').value = prodPriceNew;

         $("#ViewProductForm").submit();
        });
    });
</script>

</body>
</html>